
<div>   
    <div>
        <h3>Network中包含的模块有哪些（option中的配置）</h3>
        <Collapse  v-model="value">
            <Panel name="1">
                <b> autoResize:true </b>
                <p slot="content"><span class="cred">【boolean】自动调整：默认为true</span>。 如果为true，网络将自动检测其容器的大小调整，并相应地重绘自身。如果为false，
                    则可以在使用函数redraw（）和setSize（）调整其容器大小后强制网络重新绘制</p>
            </Panel>
            <Panel name="2">
                <b>height:'100%'</b>
                <p slot="content"><span class="cred">【String】画布的高度</span>。 immediate可以是百分比或像素，一般在dom元素上设置</p>
            </Panel>
            <Panel name="3">
                <b>width:'100%'</b>
                <p slot="content"><span class="cred">【String】画布的宽度</span>。 可以是百分比或像素，一般在dom元素上设置</p>
            </Panel>
            <Panel name="4">
                <b>locale:'en'</b> 
                <p slot="content"><span class="cred">【String】语言设置。默认为en。</span></p>
            </Panel>
            <Panel name="5">
                <b>locales:{}</b>
                <p slot="content"><span class="cred">【Object】设置语言，默认有['en'(美式英语),'de'(德语),'es'(西班牙语),'it'(意大利),'nl'(英语),'pt-br'(葡萄牙语),'ru'(俄罗斯)]</span>
                    <ul>
                    <li><br>
                            <div class="detail_box bddefault">
                                <h4>自定义设置</h4>
                                <span>var locales = {</span><br>
                                <span class="mrl20">en ：{</span><br>
                                <span class="mrl40">edit ：'编辑',</span><br>
                                <span class="mrl40">del ：'Delete selected',</span><br>
                                <span class="mrl40">back ：'后退',</span><br>
                                <span class="mrl40">addNode ：'添加节点',</span><br>
                                <span class="mrl40">addEdge ：'添加边',</span><br>
                                <span class="mrl40"> editNode ：'编辑节点',</span><br>
                                <span class="mrl40">editEdge ：'编辑Edge',</span><br>
                                <span class="mrl40">addDescription ：'单击一个空白区域以放置一个新节点。',</span><br>
                                <span class="mrl40">edgeDescription ：'单击节点并将边缘拖到另一个节点以连接它们。,</span><br>
                                <span class="mrl40">editEdgeDescription ：'单击控制点并将它们拖到节点以连接到它。,</span><br>
                                <span class="mrl40">createEdgeError ：'无法将边连接到集群。',</span><br>
                                <span class="mrl40">deleteClusterError ：'无法删除集群。',</span><br>
                                <span class="mrl40">editClusterError ：'无法编辑群集'。</span><br>
                                <span class="mrl20">}</span> <br>
                                } <br>
                                <div class="example">
                                    【  默认： 】<img  class="mrr20 bddefault" src="./images/network/localdefault.png" alt="默认文本">
                                    【  自定义： 】<img class="bddefault" src="./images/network/localMyset.png" alt="自定义文本">
                                </div>
                            </div>
                        </li>
                      
                    </ul>
                </p>
            </Panel>
            <Panel name="6">
                <b>clickToUse:false</b> 
                <div slot="content"><span class="cred">【boolean】默认是false；</span>它将仅在激活时对鼠标和触摸事件作出反应。激活时，network（dom元素盒子）周围会显示蓝色阴影边框。
                    通过单击将network设置为活动状态，然后通过单击网络外部或按ESC键再次将其更改为非活动状态。通过设置该属性，可以清晰的看到当前的network
                    是否是被激活状态，从而可以明晰事件是否可以执行（尤其是针对鼠标hover的事件，尤其明显）
                    <div class="example mrt10">
                        <img src="./images/network/active.png" alt="激活状态">
                    </div>
                </div>
            </Panel>
            <Panel name="7">
                <b>configure:{}</b> 
                <div slot="content">【Object】默认是<br>
                        <div class="cred"> configure ：{ <br>
                            <span class="mrl20"> enabled ：true ，(打开或关闭配置界面。这是一个可选参数。如果未定义但定义了此对象的任何其他属性，则将其设置为true。)</span><br>
                            <span class="mrl20"> filter ：'nodes，edges' ，(可接受的值类型：字符串，数组，布尔值，函数)</span><br>
                            <span class="mrl20"> container ：undefined ，(允许将配置列表放在另一个HTML容器中，而不是放在network下面),这里接受dom元素，且为原生js获取的dom元素
                                使用jquery获取的元素不被支持，原理是，这里的插入使用的原生的appendchild方法；例如document.getElementById("#config");
                            </span><br>
                            <span class="mrl20"> showButton ：true(显示配置程序底部的生成选项按钮。通过此按钮，可以看到option中配置的所有参数)</span><br>
                        }</div>
                        <b>filter的相关配置详情</b><br>
                        filter：true/false  当布尔值为true时，为您提供所有选项，false将不显示任何选项<br>
                        filter：['nodes','edges'] 当值为数组时，配置数组中的组合，可传值有【nodes, edges, layout, interaction, manipulation, physics, selection, renderer】<br>
                        filter：'nodes，edges' 当值为字符串时，配置字符串中的组合，可传值 <b>同数组</b><br>
                        filter：function （option ,path ）{ path.indexOf('physics' )！== - 1 ; }  提供函数时，您会收到两个参数。选项对象中的选项和选项路径。
                        如果返回true，则选项将显示在配置程序中
                    <div class="example">
                        <img src="./images/network/config_node.png" alt="配置中节点的相关配置">
                        <img src="./images/network/config_other.png" alt="配置中其他属性的相关配置">
                    </div>
                </div>
            </Panel>
            <Panel name="8">
                <b>edges:{}</b> 
                <p slot="content"><span class="cred">【Object】边的配置</span>
                    <Tabs value="name1" @on-click="getEdgeDetailFn">
                        <TabPane label="完整配置" name="name1">
                            <span>edges:{</span><br>
                            <span class="mrl20">arrows: {</span><br>
                            <span class="mrl40">to  : { enabled :false ,scaleFactor :1, type :'arrow' },</span><br>
                            <span class="mrl40">middle  :{ enabled ：false, scaleFactor :1 , type :'arrow' }，</span><br>  
                            <span class="mrl40">from  :{ enabled ：false , scaleFactor :1, 类型 :'arrow' }</span><br>  
                            <span class="mrl20">}</span><br>  
                            <span class="mrl20">arrowStrikethrough: true,</span><br>  
                            <span class="mrl20">chosen: true,</span><br>
                            <span class="mrl20">color:{</span><br>  
                            <span class="mrl40">color:'#848484',</span><br>
                            <span class="mrl40">highlight:'#848484',</span><br>  
                            <span class="mrl40">hover: '#848484',</span><br>  
                            <span class="mrl40">inherit: 'from',</span><br>  
                            <span class="mrl40">opacity:1.0</span><br>
                            <span class="mrl20">},</span><br>  
                            <span class="mrl20">dashes: false,</span><br>  
                            <span class="mrl20"> font: {</span><br>  
                            <span class="mrl40">color: '#343434',</span><br>  
                            <span class="mrl40">size: 14, // px</span><br>  
                            <span class="mrl40">face: 'arial',</span><br>  
                            <span class="mrl40">background: 'none',</span><br>  
                            <span class="mrl40">strokeWidth: 2, // px</span><br>
                            <span class="mrl40">strokeColor: '#ffffff</span><br>
                            <span class="mrl40">align: 'horizontal',</span><br>  
                            <span class="mrl40">multi: false,</span><br>  
                            <span class="mrl40">vadjust: 0,</span><br>  
                            <span class="mrl40">bold: {</span><br>  
                            <span class="mrl60">color: '#343434',</span><br>
                            <span class="mrl60">size: 14, // px</span><br>
                            <span class="mrl60">face: 'arial',</span><br>  
                            <span class="mrl60">vadjust: 0,</span><br>  
                            <span class="mrl60">mod: 'bold'</span><br>  
                            <span class="mrl40">},</span><br>  
                            <span class="mrl40">ital: {</span><br>  
                            <span class="mrl60">color: '#343434',</span><br>
                            <span class="mrl60">size: 14, // px</span><br>
                            <span class="mrl60">face: 'arial',</span><br>  
                            <span class="mrl60">vadjust: 0,</span><br>  
                            <span class="mrl60">mod: 'italic',</span><br>  
                            <span class="mrl40">},</span><br>  
                            <span class="mrl40">boldital: {</span><br>  
                            <span class="mrl60">color: '#343434',</span><br>
                            <span class="mrl60">size: 14, // px</span><br>
                            <span class="mrl60">face: 'arial',</span><br>  
                            <span class="mrl60">vadjust: 0,</span><br>  
                            <span class="mrl60">mod: 'bold italic'</span><br>
                            <span class="mrl40">},</span><br>  
                            <span class="mrl40">mono: {</span><br>  
                            <span class="mrl60">color: '#343434',</span><br>
                            <span class="mrl60">size: 15, // px</span><br>
                            <span class="mrl60">face: 'courier new',</span><br>
                            <span class="mrl60">vadjust: 2,</span><br>  
                            <span class="mrl60">mod: ''</span><br>  
                            <span class="mrl40">}</span><br>  
                            <span class="mrl20">},</span><br>  
                            <span class="mrl20"> hidden: false,</span><br>  
                            <span class="mrl20"> group: undefined,</span><br>  
                            <span class="mrl20"> heightConstraint: false,</span><br>
                            <span class="mrl20"> hoverWidth:1.5,</span><br>  
                            <span class="mrl20"> label: undefined,</span><br> 
                            <span class="mrl20"> labelHighlightBold: true,</span><br>  
                            <span class="mrl20"> length: undfined,</span><br>   
                            <span class="mrl20"> physics: true,</span><br>  
                            <span class="mrl20"> scaling: {</span><br>  
                            <span class="mrl40">   min: 1,</span><br>  
                            <span class="mrl40">   max: 15,</span><br>  
                            <span class="mrl40">   label: {</span><br>  
                            <span class="mrl60">     enabled: true,</span><br>  
                            <span class="mrl60">     min: 14,</span><br>  
                            <span class="mrl60">     max: 30,</span><br>  
                            <span class="mrl60">     maxVisible: 30,</span><br>  
                            <span class="mrl60">     drawThreshold: 5</span><br>  
                            <span class="mrl40">   },</span><br>  
                            <span class="mrl40">   customScalingFunction: function (min,max,total,value) {</span><br>  
                            <span class="mrl60">     if (max === min) {</span><br>  
                            <span class="mrl80">       return 0.5;</span><br>  
                            <span class="mrl60">     }else {</span><br>   
                            <span class="mrl80">       let scale = 1 / (max - min);</span><br>  
                            <span class="mrl80">       return Math.max(0,(value - min)*scale);</span><br>  
                            <span class="mrl60">     }</span><br>  
                            <span class="mrl40">   }</span><br>  
                            <span class="mrl20"> },</span><br>  
                            <span class="mrl20"> selectionWidth: 1,</span><br>  
                            <span class="mrl20"> selfReferenceSize:20,</span><br>  
                            <span class="mrl20"> shadow:{</span><br>  
                            <span class="mrl40">   enabled: false,</span><br>  
                            <span class="mrl40">   color: 'rgba(0,0,0,0.5)',</span><br>  
                            <span class="mrl40">   size:10,</span><br>  
                            <span class="mrl40">   x:5,</span><br>  
                            <span class="mrl40">   y:5</span><br>  
                            <span class="mrl20"> },</span><br>  
                            <span class="mrl20"> smooth:{</span><br>  
                            <span class="mrl40">   enabled: true,</span><br>  
                            <span class="mrl40">   type: "dynamic",</span><br>  
                            <span class="mrl40">   roundness: 0.5</span><br>  
                            <span class="mrl20"> },</span><br>  
                            <span class="mrl20"> title: undefined,</span><br>  
                            <span class="mrl20"> value: undefined,</span><br>  
                            <span class="mrl20"> widthConstraint: false,</span><br>  
                            <span class="mrl20"> width: 1,</span><br>  
                        }
                        </TabPane>
                        <TabPane label="属性详情" name="name2">
                            <Table :columns="nodeColumn" :data="edgeData"></Table>    
                        </TabPane>
                        <TabPane label="一般配置" name="name3">
                            <span class="mrl20">var options = {</span> <br>
                            <span class="mrl40">edges:{</span>     <br> 
                            <span class="mrl60"> arrows: 'to, from',</span>      <br>
                            <span class="mrl60"> color: 'red',</span>     <br> 
                            <span class="mrl60"> font: '12px arial #ff0000',</span>     <br> 
                            <span class="mrl60"> scaling:{</span>    <br>   
                            <span class="mrl80"> label: true</span>   <br>     
                            <span class="mrl60"> },</span>      <br>
                            <span class="mrl60"> shadow: true</span>    <br> 
                            <span class="mrl60"> smooth: true</span>    <br> 
                            <span class="mrl40"> }</span>   <br>
                            <span class="mrl20"> }</span>  <br>
                            <span class="mrl20"> network.setOptions(options);</span>   
                        </TabPane>
                    </Tabs>   
                </p>
            </Panel>
            <Panel name="9">
                <b>nodes:{}</b> 
                <div slot="content">【Object】节点的配置
                    <Tabs value="name1" @on-click="getNodeDetailFn">
                        <TabPane label="完整配置" name="name1">
                            <span>nodes:{</span><br>
                                <span class="mrl20"> borderWidth: 1,(边框的宽度，默认是1，一般无需配置)</span><br>
                                    <span class="mrl20"> borderWidthSelected: 2,</span><br>
                                    <span class="mrl20"> brokenImage:undefined,</span><br>  
                                    <span class="mrl20"> chosen: true,</span><br>  
                                    <span class="mrl20"> color: {</span><br>  
                                    <span class="mrl40">   border: '#2B7CE9',</span><br>  
                                    <span class="mrl40">   background: '#97C2FC'</span><br>
                                    <span class="mrl40">   highlight: {</span><br>  
                                    <span class="mrl60">     border: '#2B7CE9',</span><br>  
                                    <span class="mrl60">     background: '#D2E5F</span><br>
                                    <span class="mrl40">   },</span><br>  
                                    <span class="mrl40">   hover: {</span><br>  
                                    <span class="mrl60">     border: '#2B7CE9',</span><br>  
                                    <span class="mrl60">     background: '#D2E5F</span><br>
                                    <span class="mrl40">   }</span><br>  
                                    <span class="mrl20"> },</span><br>  
                                    <span class="mrl20"> fixed: {</span><br>  
                                    <span class="mrl40">   x:false,</span><br>  
                                    <span class="mrl40">   y:false</span><br>  
                                    <span class="mrl20"> },</span><br>  
                                    <span class="mrl20"> font: {</span><br>  
                                    <span class="mrl40">   color: '#343434',</span><br>  
                                    <span class="mrl40">   size: 14, // px</span><br>  
                                    <span class="mrl40">   face: 'arial',</span><br>  
                                    <span class="mrl40">   background: 'none',</span><br>  
                                    <span class="mrl40">   strokeWidth: 0, // px</span><br>
                                    <span class="mrl40">   strokeColor: '#ffffff</span><br>
                                    <span class="mrl40">   align: 'center',</span><br>  
                                    <span class="mrl40">   multi: false,</span><br>  
                                    <span class="mrl40">   vadjust: 0,</span><br>  
                                    <span class="mrl40">   bold: {</span><br>  
                                    <span class="mrl60">     color: '#343434',</span><br>
                                    <span class="mrl60">     size: 14, // px</span><br>
                                    <span class="mrl60">     face: 'arial',</span><br>  
                                    <span class="mrl60">     vadjust: 0,</span><br>  
                                    <span class="mrl60">     mod: 'bold'</span><br>  
                                    <span class="mrl40">   },</span><br>  
                                    <span class="mrl40">   ital: {</span><br>  
                                    <span class="mrl60">     color: '#343434',</span><br>
                                    <span class="mrl60">     size: 14, // px</span><br>
                                    <span class="mrl60">     face: 'arial',</span><br>  
                                    <span class="mrl60">     vadjust: 0,</span><br>  
                                    <span class="mrl60">     mod: 'italic',</span><br>  
                                    <span class="mrl40">   },</span><br>  
                                    <span class="mrl40">   boldital: {</span><br>  
                                    <span class="mrl60">     color: '#343434',</span><br>
                                    <span class="mrl60">     size: 14, // px</span><br>
                                    <span class="mrl60">     face: 'arial',</span><br>  
                                    <span class="mrl60">     vadjust: 0,</span><br>  
                                    <span class="mrl60">     mod: 'bold italic'</span><br>
                                    <span class="mrl40">   },</span><br>  
                                    <span class="mrl40">   mono: {</span><br>  
                                    <span class="mrl60">     color: '#343434',</span><br>
                                    <span class="mrl60">     size: 15, // px</span><br>
                                    <span class="mrl60">     face: 'courier new',</span><br>
                                    <span class="mrl60">     vadjust: 2,</span><br>  
                                    <span class="mrl60">     mod: ''</span><br>  
                                    <span class="mrl40">   }</span><br>  
                                    <span class="mrl20"> },</span><br>  
                                    <span class="mrl20"> group: undefined,</span><br>  
                                    <span class="mrl20"> heightConstraint: false,</span><br>  
                                    <span class="mrl20"> hidden: false,</span><br>  
                                    <span class="mrl20"> icon: {</span><br>  
                                    <span class="mrl40">   face: 'FontAwesome',</span><br>  
                                    <span class="mrl40">   code: undefined,</span><br>  
                                    <span class="mrl40">   size: 50,  //50,</span><br>  
                                    <span class="mrl40">   color:'#2B7CE9'</span><br>  
                                    <span class="mrl20"> },</span><br>  
                                    <span class="mrl20"> image: undefined,</span><br>  
                                    <span class="mrl20"> label: undefined,</span><br>  
                                    <span class="mrl20"> labelHighlightBold: true,</span><br>  
                                    <span class="mrl20"> level: undefined,</span><br>  
                                    <span class="mrl20"> mass: 1,</span><br>  
                                    <span class="mrl20"> physics: true,</span><br>  
                                    <span class="mrl20"> scaling: {</span><br>  
                                    <span class="mrl40">   min: 10,</span><br>  
                                    <span class="mrl40">   max: 30,</span><br>  
                                    <span class="mrl40">   label: {</span><br>  
                                    <span class="mrl60">     enabled: false,</span><br>  
                                    <span class="mrl60">     min: 14,</span><br>  
                                    <span class="mrl60">     max: 30,</span><br>  
                                    <span class="mrl60">     maxVisible: 30,</span><br>  
                                    <span class="mrl60">     drawThreshold: 5</span><br>  
                                    <span class="mrl40">   },</span><br>  
                                    <span class="mrl40">   customScalingFunction: function (min,max,total,value) {</span><br>  
                                    <span class="mrl60">     if (max === min) {</span><br>  
                                    <span class="mrl80">       return 0.5;</span><br>  
                                    <span class="mrl60">     }else {</span><br>   
                                    <span class="mrl80">       let scale = 1 / (max - min);</span><br>  
                                    <span class="mrl80">       return Math.max(0,(value - min)*scale);</span><br>  
                                    <span class="mrl60">     }</span><br>  
                                    <span class="mrl40">   }</span><br>  
                                    <span class="mrl20"> },</span><br>  
                                    <span class="mrl20"> shadow:{</span><br>  
                                    <span class="mrl40">   enabled: false,</span><br>  
                                    <span class="mrl40">   color: 'rgba(0,0,0,0.5)',</span><br>  
                                    <span class="mrl40">   size:10,</span><br>  
                                    <span class="mrl40">   x:5,</span><br>  
                                    <span class="mrl40">   y:5</span><br>  
                                    <span class="mrl20"> },</span><br>  
                                    <span class="mrl20"> shape: 'ellipse',</span><br>  
                                    <span class="mrl20"> shapeProperties: {</span><br>  
                                    <span class="mrl40">   borderDashes: false, // only for borders</span><br>  
                                    <span class="mrl40">   borderRadius: 6,     // only for box shape</span><br>  
                                    <span class="mrl40">   interpolation: false,  // only for image and circularImage shapes</span><br>  
                                    <span class="mrl40">   useImageSize: false,  // only for image and circularImage shapes</span><br>  
                                    <span class="mrl40">   useBorderWithImage: false  // only for image shape</span><br>  
                                    <span class="mrl20"> }</span><br>  
                                    <span class="mrl20"> size: 25,</span><br>  
                                    <span class="mrl20"> title: undefined,</span><br>  
                                    <span class="mrl20"> value: undefined,</span><br>  
                                    <span class="mrl20"> widthConstraint: false,</span><br>  
                                    <span class="mrl20"> x: undefined,</span><br>  
                                    <span class="mrl20"> y: undefined</span><br>  
                                }
                        </TabPane>
                        <TabPane label="属性详情" name="name2">
                            <Table :columns="nodeColumn" :data="nodeData"></Table>    
                        </TabPane>
                        <TabPane label="一般配置" name="name3">
                            <span class="mrl20">var options = {</span> <br>
                            <span class="mrl40">nodes:{</span>     <br> 
                            <span class="mrl60"> color: '#ff0000',</span>      <br>
                            <span class="mrl60"> fixed: false,</span>     <br> 
                            <span class="mrl60"> font: '12px arial red',</span>     <br> 
                            <span class="mrl60"> scaling:{</span>    <br>   
                            <span class="mrl80"> label: true</span>   <br>     
                            <span class="mrl60"> },</span>      <br>
                            <span class="mrl60">   shadow: true</span>    <br> 
                            <span class="mrl40"> }</span>   <br>
                            <span class="mrl20"> }</span>  <br>
                            <span class="mrl20"> network.setOptions(options);</span>   
                        </TabPane>
                    </Tabs>
                </div>
            </Panel>
            <Panel name="10">
                <b>groups:{}</b> 
                <div slot="content">【Object】组的配置
                    <div class="example">
                        <p>这里实际上是自定义的组的设置</p>
                        例如：<br>
                        <Row>
                            <Col span="12">
                                var nodes = [{id: 0, label: "0", group: 'diamonds'},{id: 0, label: "0", group: 'icons'},{id: 0, label: "0", group: 'dotsWithLabel'}]<br>
                                var option={<br>
                                    <span class='mrl20'>useDefaultGroups ：true ,(如果有的节点没有分组，就会默认的循环已有的组进行分配，要是都分配完了，在回到第一个分配，如果设置为false，就不在此循环中分配默认组)</span><br>
                                    <span class='mrl20'>groups:{</span><br>
                                    <span class='mrl40'>diamonds:{</span><br>
                                    <span class='mrl60'>color:{background:'red',border:'white'},</span><br>
                                    <span class='mrl60'>shape: 'diamond'</span><br>
                                    <span class='mrl40'>}</span><br>
                                    <span class='mrl40'>icons:{</span><br>
                                    <span class='mrl60'>icon:{face: 'FontAwesome',code: '\uf0c0',size: 50,color: 'orange'},</span><br>
                                    <span class='mrl60'>shape: 'icon'</span><br>
                                    <span class='mrl40'>}</span><br>
                                    <span class='mrl40'>dotsWithLabel:{</span><br>
                                    <span class='mrl60'> label: "I'm a dot!",</span><br>
                                    <span class='mrl60'>shape: 'dot',</span><br>
                                    <span class='mrl60'>color: 'cyan'</span><br>
                                    <span class='mrl40'>}</span><br>
                                    <span class='mrl20'>}</span><br>

                                }<br>
                            </Col>
                            <Col span="12">
                                <img src="./images/example/groups.jpg"  style="float: right;">
                            </Col>
                        </Row>
                        
                        
                    </div>
                </div>
            </Panel>
            <Panel name="11">
                <b>layout:{}</b> 
                <div slot="content">【Object】布局
                    <Tabs value="name1" @on-click="getLayoutFn">
                        <TabPane label="完整配置" name="name1">
                            <span>layout:{</span><br>
                            <span class="mrl20"> randomSeed: undefined</span><br>
                            <span class="mrl20"> improvedLayout:true</span><br>
                            <span class="mrl20">hierarchical: {</span><br>  
                            <span class="mrl40">border: '#2B7CE9',</span><br>  
                            <span class="mrl40">background: '#97C2FC'</span><br>
                            <span class="mrl40">highlight: {</span><br>  
                            <span class="mrl60">enabled:false,</span><br>  
                            <span class="mrl60">levelSeparation: 150,</span><br>
                            <span class="mrl60">nodeSpacing: 100,</span><br>
                            <span class="mrl60">treeSpacing: 200,</span><br>
                            <span class="mrl60">blockShifting: true,</span><br>
                            <span class="mrl60">edgeMinimization: true,</span><br>
                            <span class="mrl60">parentCentralization: true,</span><br>
                            <span class="mrl60">direction: 'UD', ( 可选：UD, DU, LR, RL)</span><br>
                            <span class="mrl60">sortMethod: 'hubsize' ( 可选：hubsize, directed )</span><br>
                            <span class="mrl40">}</span><br>  
                            }
                        </TabPane>
                        <TabPane label="属性详情" name="name2">
                            <Table :columns="nodeColumn" :data="layoutData"></Table>    
                        </TabPane>
                        <TabPane label="一般配置" name="name3">
                            <span class="mrl20">var options = {</span> <br>
                            <span class="mrl40">layout:{</span>     <br> 
                            <span class="mrl60">hierarchical: true</span><br>
                            <span class="mrl40"> }</span>   <br>
                            <span class="mrl20"> }</span>  <br>
                            <span class="mrl20"> network.setOptions(options);</span>   
                        </TabPane>
                    </Tabs>
                </div>
            </Panel>
            <Panel name="12">
                <b>interaction:{}</b> 
                <div slot="content">【Object】交互 用于所有用户与网络的交互。处理鼠标和触摸事件以及导航按钮和弹出窗口。
                    <Tabs value="name1" @on-click="getInteractionFn">
                        <TabPane label="完整配置" name="name1">
                            <span>interaction:{</span><br>
                            <span class="mrl20"> dragNodes ：true ,</span><br>
                            <span class="mrl20"> dragView ：true,</span><br>
                            <span class="mrl20"> hideEdgesOnDrag ：false ,</span><br>
                            <span class="mrl20"> hideEdgesOnZoom ：false,</span><br>
                            <span class="mrl20"> hideNodesOnDrag ：false,</span><br>
                            <span class="mrl20"> hover ：false,</span><br>
                            <span class="mrl20"> multiselect: false,</span><br>
                            <span class="mrl20"> navigationButtons: false,</span><br>
                            <span class="mrl20"> selectable: true,</span><br>
                            <span class="mrl20"> selectConnectedEdges: true,</span><br>
                            <span class="mrl20"> tooltipDelay: 300,</span><br>
                            <span class="mrl20"> zoomView: true,</span><br>
                            <span class="mrl20">keyboard:{</span><br>  
                            <span class="mrl40">enabled: false,</span><br>  
                            <span class="mrl40">speed: {x: 10, y: 10, zoom: 0.02},</span><br>
                            <span class="mrl40">bindToWindow: true</span><br>
                            <span class="mrl20">}</span><br>  
                            }
                        </TabPane>
                        <TabPane label="属性详情" name="name2">
                            <Table :columns="nodeColumn" :data="interactionData"></Table>    
                        </TabPane>
                        <TabPane label="一般配置" name="name3">
                            <span class="mrl20">var options = {</span> <br>
                            <span class="mrl40">interaction: false</span><br>
                            <span class="mrl20"> }</span>  <br>
                            <span class="mrl20"> network.setOptions(options);</span>   
                        </TabPane>
                    </Tabs>
                </div>
            </Panel>
            <Panel name="13">
                <b>manipulation:{}</b> 
                <div slot="content">【Object】操作模块:包括 添加、删除、获取选中点、设置选中点、拖拽系列、点击等等
                    <Tabs value="name1" @on-click="getManipulationFn">
                        <TabPane label="完整配置" name="name1">
                            <span>manipulation:{</span><br>
                            <span class="mrl20"> enabled false ,</span><br>
                            <span class="mrl20"> initiallyActive false,</span><br>
                            <span class="mrl20"> addNode :true ,</span><br>
                            <span class="mrl20"> addEdge true,</span><br>
                            <span class="mrl20"> editNode undefined,</span><br>
                            <span class="mrl20"> editEdge :true,</span><br>
                            <span class="mrl20"> deleteNode: true,</span><br>
                            <span class="mrl20"> deleteEdge: true,</span><br>
                            <span class="mrl20">controlNodeStyle:{</span><br>  
                            <span class="mrl20">}</span><br>  
                            }
                        </TabPane>
                        <TabPane label="属性详情" name="name2">
                            <Table :columns="nodeColumn" :data="manipulationData"></Table>    
                        </TabPane>
                        <TabPane label="一般配置" name="name3">
                            <span class="mrl20">var options = {</span> <br>
                            <span class="mrl40">manipulation: false</span><br>
                            <span class="mrl20"> }</span>  <br>
                            <span class="mrl20"> network.setOptions(options);</span>   
                        </TabPane>
                    </Tabs>
                </div>
            </Panel>
            <Panel name="14">
                <b>physics:{}</b> 
                <div slot="content">【Object】物理模块
                    <Tabs value="name1" @on-click="getPhysicsFn">
                        <TabPane label="完整配置" name="name1">
                            <span>physics:{</span><br>
                            <span class="mrl20"> enabled :true ,</span><br>
                            <span class="mrl20"> barnesHut :{</span><br>
                            <span class="mrl40"> gravitationalConstant: -2000,</span><br>
                            <span class="mrl40"> centralGravity: 0.3,</span><br>
                            <span class="mrl40"> springLength: 95,</span><br>
                            <span class="mrl40"> springConstant: 0.04,</span><br>
                            <span class="mrl40"> damping: 0.09,</span><br>
                            <span class="mrl40"> avoidOverlap: 0</span><br>
                            <span class="mrl20">}</span><br>  
                            <span class="mrl20"> forceAtlas2Based :{</span><br>
                            <span class="mrl40"> gravitationalConstant: -50,</span><br>
                            <span class="mrl40"> centralGravity: 0.01,</span><br>
                            <span class="mrl40"> springConstant: 0.08,</span><br>
                            <span class="mrl40"> springLength: 100,</span><br>
                            <span class="mrl40"> damping: 0.4,</span><br>
                            <span class="mrl40"> avoidOverlap: 0</span><br>
                            <span class="mrl20">}</span><br>  
                            <span class="mrl20"> repulsion :{</span><br>
                            <span class="mrl40"> centralGravity: 0.2,</span><br>
                            <span class="mrl40"> springLength: 200,</span><br>
                            <span class="mrl40"> springConstant: 0.05,</span><br>
                            <span class="mrl40"> nodeDistance: 100,</span><br>
                            <span class="mrl40"> damping: 0.09</span><br>
                            <span class="mrl20">}</span><br>  
                            <span class="mrl20"> hierarchicalRepulsion :{</span><br>
                            <span class="mrl40"> centralGravity: 0.0,</span><br>
                            <span class="mrl40"> springLength: 100,</span><br>
                            <span class="mrl40"> springConstant: 0.01,</span><br>
                            <span class="mrl40"> nodeDistance: 120,</span><br>
                            <span class="mrl40"> damping: 0.09</span><br>
                            <span class="mrl20">}</span><br>  
                            <span class="mrl20">maxVelocity: 50,</span><br>  
                            <span class="mrl20">minVelocity: 0.1,</span><br>  
                            <span class="mrl20">solver: 'barnesHut',</span><br>  
                            <span class="mrl20"> stabilization :{</span><br>
                            <span class="mrl40"> enabled: true,</span><br>
                            <span class="mrl40"> iterations: 1000,</span><br>
                            <span class="mrl40"> updateInterval: 100,</span><br>
                            <span class="mrl40"> onlyDynamicEdges: false,</span><br>
                            <span class="mrl40"> fit: true</span><br>
                            <span class="mrl20">}</span><br>  
                            <span class="mrl20">timestep: 0.5,</span><br>  
                            <span class="mrl20">adaptiveTimestep: true</span><br>  
                            }
                        </TabPane>
                        <TabPane label="属性详情" name="name2">
                            <Table :columns="nodeColumn" :data="physicsData"></Table>    
                        </TabPane>
                        <TabPane label="一般配置" name="name3">
                            <span class="mrl20">var options = {</span> <br>
                            <span class="mrl40">physics:{</span>     <br> 
                            <span class="mrl60">stabilization: false</span><br>
                            <span class="mrl40"> }</span>   <br>
                            <span class="mrl20"> }</span>  <br>
                            <span class="mrl20"> network.setOptions(options);</span>   
                        </TabPane>
                    </Tabs>
                </div>
            </Panel>
            <Panel name="15">
                <b>Cluster(集群)在option中的配置</b> 
                <div slot="content">
                    例如：<br>
                    <span class="mrl20">var options = {</span> <br>
                    <span class="mrl40">joinCondition:function(nodeOptions) {</span> <br>
                    <span class="mrl60">return nodeOptions.cid === 1;</span>     <br>
                    <span class="mrl40">}</span>     <br>
                    <span class="mrl20">}</span><br>
                    <img src="./images/example/cluseroption.jpg" alt="">
                    还有以下几个选项：<br>
                    <Table :columns="nodeColumn" :data="clusterData"></Table>     
                </div>
            </Panel>
        </Collapse>
     
    </div>
</div>

